version: '3.7'
services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - timescaledb
    volumes:
      - grafana_data:/var/lib/grafana

  timescaledb:
    image: timescale/timescaledb:latest-pg14
    container_name: timescaledb
    environment:
      POSTGRES_USER: grafana
      POSTGRES_PASSWORD: grafana_pass
      POSTGRES_DB: stocks
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data
      - "C:\\Users\\Asus\\Desktop\\timescale_import:/var/lib/postgresql/import:ro"

volumes:
  timescale_data:
  grafana_data:
